<h1>Flüge finden!</h1>
<div class="form-group">
    <label>Von:</label>
    <input [(ngModel)]="von" class="form-control">
</div>
<div class="form-group">
    <label>Nach:</label>
    <input [(ngModel)]="nach" class="form-control">
</div>
<div class="form-group">
    <button class="btn btn-default" (click)="suchen()">Suchen!</button>
</div>

<table class="table table-striped" [hidden]="fluege.length == 0">
    
    <!-- for(let flug of fluege) { } -->
    <tr *ngFor="let flug of fluege" [class.active]="flug == selectedFlug">
        <td>{{flug.id}}</td>
        <td>{{flug.abflugort}}</td>
        <td>{{flug.zielort}}</td>
        <td>{{flug.datum}}</td>
        <td><a (click)="select(flug)">Auswählen</a></td>
    </tr>
    
</table>